<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>718731086780-ps9g55ptt37ro7dkhp793tbtbubn817e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.718731086780-ps9g55ptt37ro7dkhp793tbtbubn817e</string>
	<key>API_KEY</key>
	<string>AIzaSyAzMoMvS9LuIhnqU02F_D2bB37hSaMb3O4</string>
	<key>GCM_SENDER_ID</key>
	<string>718731086780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.igloodevelopment.FitnessBenchmarkApp</string>
	<key>PROJECT_ID</key>
	<string>benchmarkapp-48ebb</string>
	<key>STORAGE_BUCKET</key>
	<string>benchmarkapp-48ebb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:718731086780:ios:41341f54f1babb508e39b9</string>
</dict>
</plist>